<div class="upload-container">
  <button type="button" (click)="fileInput.click()">Select File</button>
  <input type="file" #fileInput (change)="onFileSelect($event)" style="display: none;">
  <ul *ngIf="selectedFile">
    <li>{{ selectedFile.name }} ({{ selectedFile.size }} bytes)</li>
  </ul>
  <button (click)="onUpload()" [disabled]="!selectedFile">Upload</button>
  <div *ngIf="uploadResponse">
    <p>Upload Response: {{ uploadResponse }}</p>
  </div>
</div>
<div>
  <div *ngFor="let document of filteredDocumentList">
    <br />
    <div *ngIf="document.isVisible">
    <mat-card appearance="outlined">
      <mat-card-content class="card-content">
        <div class="content">
          Document: {{document.label}}
          <span class="actions">
            <button mat-mini-fab class="delete-btn" (click)="deleteDocument(document.entityId)">
              <mat-icon >delete</mat-icon>
            </button>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
    <br />
    <mat-divider></mat-divider>
  </div>
</div>